@font-face {
    font-family: "heebo";
    src: url("/public/fonts/Heebo.ttf");
}
:root {
    --main--color: #16aaa1;
    --button--color: #99CCCC;
    --button--hover--color: #E6E6E6;
    --available--color: #99FF00;
    --available--hover--color: #99CC33;
    --occupied--color: #FFFF61;
    --occupied--hover--color: #DCDC00;
    --unavailable--color: #FF0066;
    --unavailable--hover--color: #DC0058;
    --vip--color: #00CCFF;
    --vip--hover--color: #00B0DC;
}

* {
    margin: 0;
    padding: 0;
    font-family:"Heebo" ;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main div.error {
    font-size: 1.1em;
    color: red;
}

main div.container {
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
}

main div.container div.lockers {
    border: 2px solid var(--main--color);
    border-radius: 5px;
    width: 44%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    overflow-y: scroll;
    margin-right: 1%;
}

main div.container div.lockers div.vip {
    font-weight: bolder;
    font-size: 0.95em;
    border-radius: 6px;
    text-align: center;
    margin: 2px 5px;
    width: 80px;
    height: 80px;
    background-color: var(--vip--color);
    padding: 3px;
}
main div.container div.lockers div.vip:hover{
    background-color: var(--vip--hover--color);
}
main div.container div.lockers div.occupied {
    font-weight: bolder;
    font-size: 0.95em;
    border-radius: 6px;
    text-align: center;
    margin: 2px 5px;
    width: 80px;
    height: 80px;
    background-color: var(--occupied--color);
    padding: 3px;
}
main div.container div.lockers div.occupied:hover {
    background-color: var(--occupied--hover--color);
}
main div.container div.lockers div.available {
    font-weight: bolder;
    font-size: 0.95em;
    border-radius: 6px;
    text-align: center;
    margin: 2px 5px;
    width: 80px;
    height: 80px;
    background-color: var(--available--color);
    padding: 3px;
}
main div.container div.lockers div.available:hover{
    background-color: var(--available--hover--color);
}
main div.container div.lockers div.unavailable {
    font-weight: bolder;
    font-size: 0.95em;
    border-radius: 6px;
    text-align: center;
    margin: 2px 5px;
    width: 80px;
    height: 80px;
    background-color: var(--unavailable--color);
    padding: 3px;
}
main div.container div.lockers div.unavailable:hover{
    background-color: var(--unavailable--hover--color);
}

main div.container div.menu {
    width: 23%;
}
main div.menu div.icons{
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--main--color);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 15%;
}
main div.menu div.icons div{
    width: 18%;
    display: flex;
    margin: 0 1%;
    justify-content: center;
    align-items: center;
    background-color: var(--button--color);
    padding: 20px;
    overflow: hidden;
    border-radius: 5px;
}
main div.menu div.icons div:hover{
    background-color: var(--button--hover--color);
}
main div.menu div.icons div i{
    font-size: 2em;
    display: block;
}

main div.menu form button{
    width: 40%;
    justify-content: center;
    background-color: var(--main--color);
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    margin: 10px 0;
    color: white
}
main div.menu form div.checked{
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
main div.menu form div.entry {
    width: 80%;
    display: flex;
    justify-content: center;
}
main div.menu form div.entry input{
    width: 60px;
}
main div.container div.menu form{
    margin-top: 2%;
    border:  2px solid var(--main--color);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    height: 81.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.menu form div.locker{
    width: 80%;
    margin: 10px;
    display: flex;
    justify-content: space-around;
 }

div.menu form div.name{
    width: 80%;
   display: flex;
   justify-content: space-around;
}
main div.container div.menu form div.locker select{

    width: 100px;
}
main div.container div.menu form h3{
    text-align: center;
    padding-top: 5px;
}

main div.container div.menu hr{
    width: 95%;
    margin: 0 auto;
}

main form.login_form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main form.login_form button {
    background-color: var(--main--color);
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.4em;
    margin: 10px 0;
    color: white;
}

main form.login_form input {
    text-align: center;
    margin: 5px 0;
    font-size: 1.2em;
    border: 1px solid var(--button--color);
    border-radius: 5px;
    width: 30%;
}

main form.login_form input::placeholder {
    text-align: center;
}

main img.logo {
    width: 40%;
}

main img.logo_main {
    width: 20%;
}