@font-face {
    font-family: "heebo";
    src: url("/public/fonts/Heebo.ttf");
}

:root {
    --main--color: #16aaa1;
    --button--color: #99CCCC;
    --button--hover--color: #E6E6E6;
    --available--color: #99FF00;
    --available--hover--color: #99CC33;
    --occupied--color: #FFFF61;
    --occupied--hover--color: #DCDC00;
    --unavailable--color: #FF0066;
    --unavailable--hover--color: #DC0058;
    --vip--color: #00CCFF;
    --vip--hover--color: #00B0DC;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Heebo";
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main.admin {
    width: 100%;
    justify-content: flex-start;

}

#user,
#proser,
#promo,
#vip,
#cover {
    display: none;

}

main.admin div#option_container {
    width: 100%;
    margin-top: 5%;
}

main.admin div#option_container div.option_item {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

main.admin div#option_container div.option_item form.user {
    margin-top: 2%;
    border: 2px solid var(--main--color);
    border-radius: 5px;
    width: 50%;
    height: 35vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main.admin div#option_container div.option_item form.note{
    margin-top: 2%;
    border: 2px solid var(--main--color);
    border-radius: 5px;
    width: 50%;
    height: 8vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main.admin div#option_container div.option_item form.note div.note{
    width: 110%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
main.admin div#option_container div.option_item form.note div.note button{
    width: 40%;
}
main.admin div#option_container div.option_item form.vips{
    margin-top: 2%;
    border: 2px solid var(--main--color);
    border-radius: 5px;
    width: 70%;
    height: 15vh;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2em;
}
main.admin div#option_container div.option_item form.vips div{
   width: 30%;
}
main.admin div#option_container div.option_item form.vips div.vips_discount select{
   width: 45%;
}
main.admin div#option_container div.option_item form.vips input{
    height: 5vh;
    text-align: center;
}
main.admin div#option_container div.option_item form.new_password{
    margin-top: 2%;
    border: 2px solid var(--main--color);
    border-radius: 5px;
    width: 70%;
    height: 15vh;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2em;
}
main.admin div#option_container div.option_item form.new_password button{
    width: 55%;
}
main.admin div#option_container div.option_item form.new_password div.vips_options{
    width: 30%;
    display: flex;
    align-items: center;

}
main.admin div#option_container div.option_item form.new_password input{
    height: 5vh;
    text-align: center;
}
main.admin div#option_container div.option_item form.vips select{
    height: 5vh;
    width: 50%;
}

main.admin div#option_container div.option_item div.services1 {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: 20px;
}

main.admin div#option_container div.option_item div.services2 {
    display: flex;
    width: 85%;
    margin-top: 30px;
    margin-bottom: 20px;
}

main.admin div#option_container div.option_item div.services2 label {
    font-size: 1.2em;
    width: 40%;
}

main.admin div#option_container div.option_item div.services1 label {
    font-size: 1.2em;
    width: 40%;
}

main.admin div#option_container div.option_item div.services1 input {
    width: 40%;
    height: 5vh;
    text-align: right;
    font-size: 1.2em;
}

main.admin div#option_container div.option_item div.services1 div.services_price {
    display: flex;
    align-items: center;
    width: 50%;

}

main.admin div#option_container div.option_item div.services2 div.discount {
    display: flex;
    align-items: center;
    width: 50%;

}

main.admin div#option_container div.option_item div.services2 div.type2 {
    display: flex;
    align-items: center;
    width: 50%;

}

main.admin div#option_container div.option_item div.services2 select {
    height: 5vh;
    width: 40%;
    font-size: 1.2em;
    text-align: right;

}

main.admin div#option_container div.option_item div.services1 div.services_user {
    display: flex;
    align-items: center;
    width: 50%;

}
main.admin div#option_container div.option_item form button {
    width: 20%;
    justify-content: center;
    background-color: var(--main--color);
    padding: 3px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    margin: 10px 0 10px 0;
    color: white;
}

main.admin div#option_container div.option_item form.password {
    margin-top: 2%;
    border: 2px solid var(--main--color);
    border-radius: 5px;
    width: 50%;
    height: 7.5vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.admin div#option_container div.option_item form.password div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

main.admin div#option_container div.option_item form.password div input {
    width: 30%;
    text-align: center;
    height: 5vh;
}

main.admin div#option_container div.option_item form.password div label {
    font-size: 1.2em;
}
main.admin div#option_container div.option_item form.proser {
    margin-top: 2%;
    border: 2px solid var(--main--color);
    border-radius: 5px;
    width: 50%;
    height: 30vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.admin div#option_container div.option_item form div.user,
main.admin div#option_container div.option_item form div.name,
main.admin div#option_container div.option_item form div.password,
main.admin div#option_container div.option_item form div.type {
    width: 105%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vh;

}

main.admin div#option_container div.option_item form div.user input,
main.admin div#option_container div.option_item form div.name input,
main.admin div#option_container div.option_item form div.password input,
main.admin div#option_container div.option_item form div.type input,
main.admin div#option_container div.option_item form div.type select {
    text-align: center;
    width: 70%;
    height: 5vh;
}

main.admin div#option_container div.option_item form div.type select {
    font-size: 1.2em;
    padding: 0.2px;
}

main.admin div#option_container div.option_item form div.user label,
main.admin div#option_container div.option_item form div.name label,
main.admin div#option_container div.option_item form div.password label,
main.admin div#option_container div.option_item form div.type label {
    text-align: left;
    font-size: 1.2em;
    width: 5%;
}

main.admin div#option_container div.option_item form.cover div.cover1 div.cover_name input{
    height: 5vh;
}
main.admin div#option_container div.option_item form.cover div.cover1 div.cover_name label{
    font-size: 1.2em;
}

main.admin div#option_container div.option_item form.cover div.cover1 div.cover_price input{
    height: 5vh;
}
main.admin div#option_container div.option_item form.cover div.cover1 div.cover_price label{
    font-size: 1.2em;
}
main.admin div#option_container div.option_item form.cover,
main.admin div#option_container div.option_item form.promo {
    margin-top: 2%;
    border: 2px solid var(--main--color);
    border-radius: 5px;
    width: 50%;
    height: 35vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main.admin div#option_container div.option_item form.cover div.cover_check label,
main.admin div#option_container div.option_item form.promo div.promo_check label{
    margin-right: 20px;
}

main.admin div#option_container div.option_item form.cover div.cover1,
main.admin div#option_container div.option_item form.promo div.promo1{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main.admin div#option_container div.option_item form.cover div.cover2,
main.admin div#option_container div.option_item form.promo div.promo2{
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}
main.admin div#option_container div.option_item form.cover div.cover2 div.cover_amount,
main.admin div#option_container div.option_item form.promo div.promo2 div.promo_amount{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main.admin div#option_container div.option_item form.cover div.cover2 div.cover_amount label,
main.admin div#option_container div.option_item form.promo div.promo2 div.promo_amount label{
    font-size: 1.2em;
}
main.admin div#option_container div.option_item form.cover div.cover2 div.cover_amount select,
main.admin div#option_container div.option_item form.promo div.promo2 div.promo_amount input{
    width: 50%;
    height: 5vh;
}
main.admin div#option_container div.option_item form.cover div.cover2 div.cover_items,
main.admin div#option_container div.option_item form.promo div.promo2 div.promo_items{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main.admin div#option_container div.option_item form.cover div.cover2 div.cover_items select,
main.admin div#option_container div.option_item form.promo div.promo2 div.promo_items select{
    width: 50%;
    height: 5vh;
}
main.admin div#option_container div.option_item form.cover div.cover2 div.cover_items label,
main.admin div#option_container div.option_item form.promo div.promo2 div.promo_items label{
    font-size: 1.2em;
}
main.admin div#option_container div.option_item form.cover div.cover1 div.cover_name,
main.admin div#option_container div.option_item form.promo div.promo1 div.promo_name{
    margin-top: 20px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main.admin div#option_container div.option_item form.cover div.cover1 div.cover_name input,
main.admin div#option_container div.option_item form.promo div.promo1 div.promo_name input{
    width: 50%;
    height: 5vh;
    text-align: right;
    font-size: 1.2em;
}
main.admin div#option_container div.option_item form.promo div.cover1 div.cover_name label,
main.admin div#option_container div.option_item form.promo div.promo1 div.promo_name label{
    font-size: 1.2em;
}
main.admin div#option_container div.option_item form.cover div.cover1 div.cover_price,
main.admin div#option_container div.option_item form.promo div.promo1 div.promo_price{
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
main.admin div#option_container div.option_item form.promo div.cover1 div.cover_price input,
main.admin div#option_container div.option_item form.promo div.promo1 div.promo_price input{
    width: 60%;
    height: 5vh;
    text-align: right;
    font-size: 1.2em;
}
main.admin div#option_container div.option_item form.promo div.cover1 div.cover_price label,
main.admin div#option_container div.option_item form.promo div.promo1 div.promo_price label{
    font-size: 1.2em;
}

main.admin nav.nav_bar {
    margin-top: 50px;
    width: 80%;
}

main.admin nav.nav_bar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

main.admin nav.nav_bar ul li {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--button--color);
}

main div.error {
    font-size: 1.1em;
    color: red;
}


main div.container {
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
}

main div.container div.lockers {
    border: 2px solid var(--main--color);
    border-radius: 5px;
    width: 44%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    overflow-y: scroll;
    margin-right: 1%;
}

main div.container div.lockers div.vip {
    font-weight: bolder;
    font-size: 1em;
    border-radius: 6px;
    text-align: center;
    margin: 2px 5px;
    width: 18%;
    height: 16vh;
    background-color: var(--vip--color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main div.container div.lockers div.vip i {
    font-size: 2em;
}

main div.container div.lockers div.vip:hover {
    background-color: var(--vip--hover--color);
}

main div.container div.lockers div.occupied {
    font-weight: bolder;
    font-size: 1.8em;
    border-radius: 6px;
    text-align: center;
    margin: 2px 5px;
    width: 18%;
    height: 16vh;
    background-color: var(--occupied--color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main div.container div.lockers div.occupied i {
    font-size: 1em;
}

main div.container div.lockers div.occupied:hover {
    background-color: var(--occupied--hover--color);
}

main div.container div.lockers div.available {
    font-weight: bolder;
    font-size: 1.8em;
    border-radius: 6px;
    text-align: center;
    margin: 2px 5px;
    width: 18%;
    height: 16vh;
    background-color: var(--available--color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main div.container div.lockers div.available i {
    font-size: 1em;
}

main div.container div.lockers div.available:hover {
    background-color: var(--available--hover--color);
}

main div.container div.lockers div.unavailable {
    font-weight: bolder;
    font-size: 1.8em;
    border-radius: 6px;
    text-align: center;
    margin: 2px 5px;
    width: 18%;
    height: 16vh;
    background-color: var(--unavailable--color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main div.container div.lockers div.unavailable i {
    font-size: 1em;
}

main div.container div.lockers div.unavailable:hover {
    background-color: var(--unavailable--hover--color);
}

main div.container div.menu form {
    margin-top: 2%;
    border: 2px solid var(--main--color);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    height: 81.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div.container div.menu form div.locker select {
    width: 100px;
}

main div.container div.menu form h3 {
    text-align: center;
    padding-top: 5px;
}

main div.container div.menu hr {
    width: 95%;
    margin: 0 auto;
}

main div.container div.menu {
    width: 23%;
}

main div.error {
    font-size: 1.1em;
    color: red;
}

main div.menu div.icons {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--main--color);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 15%;
}

main div.menu div.icons div {
    width: 18%;
    display: flex;
    margin: 0 1%;
    justify-content: center;
    align-items: center;
    background-color: var(--button--color);
    padding: 20px;
    overflow: hidden;
    border-radius: 5px;
}

main div.menu div.icons div:hover {
    background-color: var(--button--hover--color);
}

main div.menu div.icons div i {
    font-size: 2em;
    display: block;
}

main div.menu form button {
    width: 40%;
    justify-content: center;
    background-color: var(--main--color);
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    margin: 10px 0;
    color: white
}

main div.menu form div.checked {
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

main div.menu form div.entry {
    width: 80%;
    display: flex;
    justify-content: center;
}

main div.menu form div.entry input {
    width: 60px;
}

main div.menu form div.locker {
    width: 80%;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

main div.menu form div.name {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

main.lockerBar {
    margin: 0 auto;
    width: 80%;
    height: 60vh !important;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;

}

main.lockerBar div.consummation {
    margin: 0 5px;
    border: 2px solid var(--main--color);
    border-radius: 5px;
    width: 40%;
    height: 70%;
    overflow-y: scroll;
}

main.lockerBar div.consummation div.info {
    display: flex;
    justify-content: left;

}

main.lockerBar div.proser {
    border-bottom: 2px solid var(--main--color);
    border-radius: 5px;
    width: 60%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

main.lockerBar div.proser div {
    font-size: 0.8em;
    width: 18%;
    height: 18vh;
    border: 2px solid var(--main--color);
    border-radius: 6px;
    margin: 0 5px 5px 5px;
    text-align: center;
    background-color: var(--main--color);
    font-size: 1.05em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.lockerBar div.proserRec {
    width: 70%;
    height: 70vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

main.lockerBar div.proserRec div.proser {
    border-bottom: 2px solid var(--main--color);
    border-radius: 5px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

main.lockerBar div.proserRec div.proser div {
    font-size: 0.8em;
    width: 18%;
    height: 18vh;
    border: 2px solid var(--main--color);
    border-radius: 6px;
    margin: 0 5px 5px 5px;
    text-align: center;
    background-color: var(--main--color);
    font-size: 1.05em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.lockerBar div.proserRec button {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--main--color);
    border: none;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
}

main.lockerBar div.proserRec div.payment {
    justify-content: space-between;
    display: flex;
    width: 70%;
    height: 15%;
    margin-top: 10px;
}

main.lockerBar div.proserRec div.payment div.number {
    display: flex;
    flex-direction: column;
}

main.lockerBar div.payment div.rightSide {
    display: flex;
    flex-direction: column;
    width: 60%;

}

main.lockerBar div.payment div.rightSide div.number {
    display: flex;
    flex-direction: row;
}

main.lockerBar div.proserRec div.payment div.total {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

main.lockerBar div.proserRec div.payment div.total p {
    font-size: 2.6em;
}

main form.login_form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main form.login_form button {
    background-color: var(--main--color);
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.4em;
    margin: 10px 0;
    color: white;
}

main form.login_form input {
    text-align: center;
    margin: 5px 0;
    font-size: 1.2em;
    border: 1px solid var(--button--color);
    border-radius: 5px;
    width: 30%;
}

main form.login_form input::placeholder {
    text-align: center;
}

main img.logo {
    width: 40%;
}

main img.logo_main {
    width: 20%;
}

main.lockerBar div.consummation table {
    width: 100%;
    border-collapse: collapse;
}

main.lockerBar div.consummation table tbody tr td {
    text-align: center;
}

main.lockerBar div.consummation table tbody tr.impar {
    background-color: #99cccc80;
}

main.lockerBar div.consummation table tbody tr.par {
    background-color: #16aaa080;
}

main div.consummation tbody th.concept {
    text-align: left;
    width: 85%;
}

main div.consummation tbody th.quantity {
    width: 35%;
}

main div.consummation thead td.concept {
    text-align: left;
    width: 85%;
}

main div.consummation thead td.quantity {
    width: 35%;
}